@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply overflow-x-hidden bg-black m-0 p-0 text-white
    }
}

@layer components {
    .custom-container {
        @apply max-w-[1400px] mx-auto px-4;
    }
}